.text-maroon {
  color: #9b2721;
}
.btn-maroon {
  background-color: #9b2721;
  border: 2px solid #9b2721;
  border-radius: 7px;
  padding: 5px 25px;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  width: 100%;
}
.btn-maroon-mirror {
  background-color: white;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 7px;
  padding: 5px 25px;
  outline: none;
  color: #9b2721 !important;
  font-weight: 500;
  transition: 0.4s;
}
.btn-maroon-mirror:hover {
  border: 2px solid white;
  background-color: #9b2721;
  color: #ffffff !important;
}
.waktu .btn-maroon {
  border: 2px solid #9b2721;
}
.btn-maroon:hover {
  background-color: white;
  border: 2px solid #9b2721;
  color: #9b2721;
}
@media (min-width: 768px) {
  .btn-maroon {
    width: auto;
    font-size: 19px;
  }
  .btn-maroon-mirror {
    font-size: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
body {
  position: relative;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #9b2721;
  padding: 15px 0px;
  border-radius: 0px 0px 25px 25px;
  font-family: "Roboto", sans-serif;
}
.navbar .navbar-brand img {
  max-height: 38px;
}
.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}
.navbar .nav-item a {
  color: #9b2721;
}
.navbar .nav-item.social img {
  max-height: 25px;
}
.navbar .nav-item.social span {
  font-size: 13px;
  font-weight: 500;
}

/* ----------------------------------------------------------------------------------------------------------- */

.hero {
  background-image: url("img/bg-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #343434;
  font-family: "Roboto", sans-serif;
  padding-top: 180px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(234, 234, 234, 0.9);
}
.hero .relasi {
  position: relative;
  overflow: hidden;
  height: 65px;
  width: 90%;
  margin: 0 auto;
}
.hero .relasi .relasi-list-one {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  animation: slide1 12s infinite linear 0s;
}
.hero .relasi .relasi-list-two {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  animation: slide2 12s infinite linear 0s;
}
.hero .relasi .relasi-list-three {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(200%);
  animation: slide3 12s infinite linear 0s;
}
@-webkit-keyframes slide1 {
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide2 {
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide3 {
  to {
    transform: translateX(100%);
  }
}
.hero .relasi img {
  margin-right: 12px;
  /* max-height: 55px; */
}
.hero .relasi img.big {
  max-height: 43px;
}
.hero .relasi img.medium {
  max-height: 55px;
}
.hero .relasi img.small {
  max-height: 70px;
}
.hero .container {
  position: relative;
  z-index: 2;
}

.countdown .count {
  color: white;
  font-size: 44px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  transform: translateX(5px);
}
.countdown .count::after {
  content: "";
  position: absolute;
  top: 48%;
  left: -20px;
  right: 2px;
  height: 4px;
  background-color: rgba(234, 234, 234, 0.8);
  display: block;
  z-index: 4;
}
.countdown .count span {
  position: relative;
  z-index: 2;
  letter-spacing: 0.2em;
  text-align: center;
}
.countdown .count p {
  position: absolute;
  bottom: -40%;
  left: -10px;
  right: 10px;
  text-align: center;
  color: #343434;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.countdown .count .right,
.countdown .count .left {
  background-color: #3d3d3d;
  position: absolute;
  border-radius: 10px;
  top: 0;
  transition: 0.3s;
  bottom: 0;
  width: 53%;
  perspective: 1000px;
  z-index: 2;
}

.countdown .count .rightelm,
.countdown .count .leftelm {
  background-image: linear-gradient(to top, rgb(36, 36, 36), rgb(58, 58, 58));
  position: absolute;
  top: 0;
  bottom: 0;
  width: 53%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
  transition: 0.5s;
  animation: second 1s infinite linear 0s;
}
.countdown .count span {
  z-index: 3;
}
.countdown .count .right,
.countdown .count .rightelm {
  left: -10px;
}
.countdown .count .left,
.countdown .count .leftelm {
  right: 2px;
}
.animation-flip {
  animation: flip;
  animation-duration: 0.8s;
}
.animation-span {
  animation: animationSpan;
  animation-duration: 0.8s;
}
@-webkit-keyframes second {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0.9;
    transform: scale(1.02);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.04);
  }
  60% {
    opacity: 0.9;
    transform: scale(1.02);
  }

  70% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes flip {
  from {
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes animationSpan {
  from {
    transform: rotateX(-90deg);
  }
}
@media (min-width: 375px) {
  .countdown .count {
    font-size: 42px;
  }
}
@media (min-width: 576px) {
  .countdown .count {
    font-size: 65px;
    width: 120px;
    transform: translateX(0px);
  }
  .countdown .count span {
    letter-spacing: 0.3em;
  }
  .countdown .count .right,
  .countdown .count .rightelm {
    left: -20px;
  }
  .countdown .count .left,
  .countdown .count .leftelm {
    right: 2px;
  }
}
@media (min-width: 768px) {
  .hero .relasi {
    width: 95%;
    margin: 0 0;
  }
  .hero p {
    margin: 35px 0px;
  }
}

/* --------------------------------------------------------------------------------------------------------- */
.info,
.beasiswa {
  background-image: url("icon/BG\ 1-01.png");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  padding: 50px 20px;
}

.info .info-item {
  background-color: #9f241f;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .info .info-item {
    width: 230px;
    height: 200px;
  }
}
@media (min-width: 992px) {
  .info .info-item {
    width: 300px;
    height: 250px;
  }
}
.batch-section {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
.batch-section .batch-opening img {
  width: 100px;
}

.batch-section .batch-benefit img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.section3 h4,
.section3 span {
  color: #9f241f;
  text-align: center;
}

.section3 p {
  font-weight: 500;
  text-indent: -2.4em;
}

.section3 .icon {
  width: 25px;
}

.beasiswa h2 {
  font-size: 30px;
}
.target img,
.beasiswa img {
  max-height: 250px;
}
@media (min-width: 768px) {
  .beasiswa h2 {
    font-size: 48px;
  }
  .beasiswa p {
    width: 85%;
  }
  .beasiswa img,
  .target img {
    max-height: 450px;
  }
}

/* --------------------------------------------------------------------------------------------------------- */
.reason,
.step {
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 50px 0px;
  color: #343434;
  background-color: #f2f2f2;
  overflow: hidden;
}
.reason h5 {
  width: 90%;
}

.reason .reasons {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}
.reason .reasons .item-reason {
  text-align: center;
  padding: 10px 25px;
}
.reason .reasons .item-reason p {
}
.reason .reasons .item-reason img {
  max-height: 80px;
}
@media (min-width: 768px) {
  .reason h5 {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .reason .reasons {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 10px 80px;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
.target {
  padding: 100px 30px;
  font-family: "Roboto", sans-serif;
  background-image: url("icon/BG\ 1-01.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.target .row {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .target .row {
    flex-direction: row;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
.step {
  padding: 50px 0px;
  font-family: "Roboto", sans-serif;
}
.step .d-flex img,
.reason .d-flex img {
  max-height: 60px;
}
.step .d-flex h1,
.reason .d-flex h1 {
  width: 100%;
  font-size: 28px;
}
.step .d-flex h5,
.reason .d-flex h5 {
  width: 100%;
  font-size: 18px;
}
.step .image-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.step .image-list img {
  position: absolute;
  bottom: 0;
}
.step img.img-people {
  max-height: 300px;
  border-radius: 15px;
}

/* The actual timeline (the vertical ruler) */
.step {
  overflow: hidden;
}
.step .timeline {
  position: relative;
  overflow: hidden;
  transition: 0.8s;
}
.animation-down {
  animation-name: down;
  animation-duration: 0.8s;
}

.animation-up {
  animation-name: up;
  animation-duration: 0.8s;
}
@-webkit-keyframes down {
  from {
    transform: translateY(-200px);
  }
}

@-webkit-keyframes up {
  from {
    transform: translateY(200px);
  }
}
.step .timeline .shadow {
  position: absolute;
  display: block;
  bottom: 0;
  height: 300px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(242, 242, 242, 1), rgba(242, 242, 242, 0.7), rgba(242, 242, 242, 0));
  z-index: 3;
  box-shadow: none !important;
}

.step .button {
  position: relative;
  z-index: 10;
  text-align: center;
}
.step .button button:active {
  outline: none;
  box-shadow: none;
}
.step .button button:focus {
  outline: none;
  box-shadow: none;
}

.step .container-section {
  margin-left: -10px;
  padding: 0px;
  position: relative;
  width: auto;
}
.step .container-section h4 {
  font-size: 18px;
}
.step .container-section p {
  font-size: 15px;
}
/* The circles on the timeline */
.step .timeline .lingkaran {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ff9f55;
  border: 4px solid #ff9f55;
  border-radius: 50%;
  z-index: 1;
}
.step .timeline .garis {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #ff9f55;
  border: 1px solid #ff9f55;
  z-index: 1;
}
.accordion-item.stepaccordion {
  background-color: #f2f2f2;
}
.accordion-button.step::after {
  position: absolute;
  bottom: 0;
  margin-left: 0;
  display: block;
  white-space: wrap;
}
@media (min-width: 567px) {
  .step .container-section h4 {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .step .container-section {
    margin-left: -15px;
  }
  .step .container-section h4 {
    font-size: 22px;
  }
  .step .container-section p {
    font-size: 15px;
  }
  .step .d-flex img,
  .reason .d-flex img {
    max-height: 120px;
  }
  .step .d-flex h1,
  .reason .d-flex h1 {
    width: 75%;
  }
  .step .d-flex h5,
  .reason .d-flex h5 {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .step .container-section {
    margin-left: -30px;
  }
  .step .container-section h4 {
    font-size: 24px;
  }
  .step .container-section p {
    font-size: 16px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
.testimony {
  padding: 50px 0px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-image: url("icon/BG\ 1-01.png");
  background-size: cover;
}
.testimony .d-flex img {
  max-height: 120px;
}
.testimony .d-flex h1 {
  width: 100%;
  font-size: 44px;
}
.testimony .d-flex h5 {
  width: 100%;
  font-size: 18px;
}
.testimony .slider {
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}

.testimony .slider .button-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  margin-bottom: -20px;
  z-index: 10;
}
.noShadow:active {
  border: none;
  outline: none;
  box-shadow: none;
}
.noShadow:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.testimony .slider .button-slider button.left {
  transform: translateX(-105px);
}
.testimony .slider .button-slider button.right {
  transform: translateX(105px);
}

.testimony .slider .indicator-slider {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  /* width: 50px; */
  height: auto;
  z-index: 10;
  align-items: center;
}
.testimony .slider .indicator-slider span {
  min-height: 16px;
  min-width: 16px;
  border-radius: 16px;
  margin-right: 10px;
  background-color: #9b2721;
  border: 1px solid #9b2721;
  cursor: pointer;
}
.testimony .slider .indicator-slider span:not(.active) {
  background-color: white;
}
.testimony .slider .content-slider {
  width: 100%;
  display: flex;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
  align-items: center;
  transition: 0.4s;
}
.testimony .slider .content-slider .card-slider {
  min-width: 360px;
  max-width: 400px;
  background-color: white;
  height: 290px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  margin-right: 100px;
  box-shadow: 2px 5px 20px 3px rgba(138, 138, 138, 0.4);
}
.testimony .slider .content-slider .card-slider p {
  font-size: 15px;
}
.testimony .slider .content-slider .card-slider .image {
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  background-color: #9f241f;
  overflow: hidden;
  margin-right: 20px;
}
.testimony .slider .content-slider .card-slider .image img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
@media (min-width: 576px) {
  .testimony .slider .button-slider {
    align-items: center;
  }
  .testimony .slider .button-slider button.left {
    transform: translateX(-175px);
  }
  .testimony .slider .button-slider button.right {
    transform: translateX(175px);
  }
}
@media (min-width: 768px) {
  .testimony .slider .content-slider {
    left: 50%;
    margin-left: -300px;
  }
  .testimony .slider .content-slider .card-slider {
    min-width: 560px;
    max-width: 560px;
    height: 290px;
    padding: 50px;
    border-radius: 25px;
  }

  .testimony .slider .button-slider button.left {
    transform: translateX(-275px);
  }
  .testimony .slider .button-slider button.right {
    transform: translateX(275px);
  }
}

/* ---------------------------------------------------------------------------------------------------------------- */
.faq {
  padding: 50px 0px;
}
.faq .title {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.faq .title img {
  max-height: 120px;
}
.faq h1 {
  color: #9f241f;
}
.line-divider {
  border-top: 1px solid #7a7a7a;
  max-width: 1200px;
  margin-left: 20px;
  margin: 0 20px 24px 20px;
  margin-bottom: 24px;
}

.accordion-item:not(.stepaccordion) {
  margin: 24px 0 24px 0;
  border-radius: 20px !important;
  border: 1px solid #afafaf !important;
}

.accordion-header {
  margin-bottom: -1px;
  padding-left: 10px;
}

.accordion-collapse {
  padding: 0 10px 0 10px;
}

.accordion-button {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  background-color: transparent;
  color: #343434;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #343434;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-body {
  padding: 0 20px 24px;
}
@media (min-width: 768px) {
  .accordion-header {
    padding-left: 50px;
  }
  .accordion-collapse {
    padding: 0 50px 0 50px;
  }
}
.map {
  margin-bottom: -8px;
  overflow: hidden;
}

.faq,
footer {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.img-logo-footer {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-line {
  border-top: 3px solid orange;
  width: 120px;
  margin-bottom: 24px;
}

footer p {
  font-size: 14px;
}

.icon-social {
  width: 25px;
}

.footer-right p {
  display: inline-block;
  text-indent: -1.8em;
  margin-left: 1.8em;
}

.footer-right img {
  width: 20px;
}

.footer-right a {
  text-decoration: none;
  color: #343434;
}

/* --------------------------------------------------------------------------------------------- */

.waktu {
  background-image: url("img/bg-waktu.webp");
  background-position: center;
  background-size: cover;
  padding: 150px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  color: white;
  overflow: hidden;
}
.waktu::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.9);
  z-index: 1;
}
.waktu .container {
  position: relative;
  z-index: 2;
}

.waktu .judul {
  color: #f8ae4c;
}
.waktu .judul h1 {
  font-size: 42px;
}
.waktu .count::after {
  left: -10px;
  right: 2px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}
.waktu .count span {
  color: white;
}
.waktu .count .right {
  background-color: rgba(255, 255, 255, 0.4);
  animation: second 1s infinite linear 0s;
}
.waktu .count .left {
  background-color: rgba(255, 255, 255, 0.4);
  animation: second 1s infinite linear 0s;
}
.waktu .count p {
  color: white;
}
.waktu .countdown {
  transform: translateX(0px);
}
@media (min-width: 576px) {
  .waktu .countdown {
    transform: translateX(20px);
  }
  .waktu .count::after {
    left: -20px;
    right: 2px;
  }
}
@media (min-width: 992px) {
  .waktu .judul h1 {
    font-size: 54px;
  }
}
